.custom-wijmo-grid {
    .wj-cell {
        //overflow: inherit;
        border: none;
        border-bottom: 1px solid #c8dbeb;
    }

    .wj-header {
        background: #f3f7fa;
    }

    .wj-content {
        border: none;
    }
}