<wj-flex-grid
  #grid
  class="custom-wijmo-grid"
  [autoGenerateColumns]="false"
  [autoRowHeights]="true"
  [alternatingRowStep]="0"
  [(itemsSource)]="dataSource"

  
  (sortingColumn)="sortingColumn(grid, $event)"

  headersVisibility="Column"
  [isReadOnly]="true"
  [selectionMode]="'None'"
>
  <wj-flex-grid-filter #filter></wj-flex-grid-filter>
  <!-- 
      (initialized)="gridReady(grid, $event)"
  (itemsSourceChanged)="sourceChanged(grid, $event)"
      [itemFormatter]="itemFormatter"
    (sortedColumn)="sortingColumn(grid, $event)"
  (updatedLayout)="updatedLayout(grid, $event)"
  (updatedView)="updatedView(grid, $event)"
  (updatingLayout)="updatingLayout(grid, $event)"
  (updatingView)="updatingView(grid, $event)" -->
  <ng-container *ngFor="let col of colums.items">
    <ng-container *ngIf="!col.customCell; else customCell">
      <wj-flex-grid-column
        [header]="col.header"
        [binding]="col.binding"
        [allowSorting]="col.allowSorting"
        [format]="col.format"
        [width]="col.width"
      ></wj-flex-grid-column>
    </ng-container>

    <ng-template #customCell>
      <wj-flex-grid-column
        [header]="col.header"
        [width]="col.width"
        [binding]="col.binding"
        [allowSorting]="col.allowSorting"
      >
        <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
          <!-- <ng-container *ngComponentOutlet="col.customCell; injector: createInjector(cell); "></ng-container> -->
          <wj-component-loader
            [component]="col.customCell"
            [properties]="{ context: { cell: cell, gridParent: gridParent } }"
          ></wj-component-loader>
        </ng-template>
      </wj-flex-grid-column>
    </ng-template>
  </ng-container>
</wj-flex-grid>

<ng-container *ngIf="pagination">
  <wj-collection-view-navigator
    headerFormat="Page {currentPage:n0} of {pageCount:n0}"
    [byPage]="true"
    [cv]="dataSource"
  >
  </wj-collection-view-navigator>
</ng-container>
